.root {
    margin: 0;
}

.nav-main {
    background-color: red;
}

.main-container {
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.list-student-container {
    margin-top: 60px;   
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    margin-left: 660px;
    min-width: 500px;
    width: 50%;
}