.camera-container {
    margin-top: 20px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
}


.button-basic{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #0ba6ff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
}

.camera{
    position: relative;
}


#front-canvas{
    z-index: 1000;
}

.main-webcam{
    top: 10px;
    position: absolute;
    width: 480px;
    height: 360px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
}

.student-info{
    margin-top: 10px;
    width: 300px;
    border: none;
    height: 480px;
    position: absolute;
    left: 505px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.61);
}
.img-label{
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    border: 1px solid black;
    height: 40%;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#face-img{
    width: 100%;
    height: 100%;
}

.info-label{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button-container-bottom{
    position: absolute;
    top: 570px;
    font-weight: bold;
}