.camera-container {
    margin-top: 20px;
}

#video {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.61);
}


#front-canvas{
    z-index: 1000;
}